.wrapper {
    border: 2px solid brown;
    display: inline-block;
    padding: 20px 10px;
background-color: pink;

}


.wrapper img{
    border-radius: 50%;
    height: 200px;
    width: 200px;
    object-fit: cover;
    object-position: center top;
    border: 2px solid brown;
}
.info {
    margin: 20px;
}
.wrapper figure{
    text-align: center;
    margin-bottom: 20px;
}
.fw-bold{
    font-weight: bold;
}