*{
    margin: 0;
    padding:0; 
    box-sizing: border-box;
}
html,
body{
 scroll-behavior: smooth;
}
body{
background-color:pink;
}

nav{
    background-color:rgb(234, 77, 160);
    padding: 8px 10px;
}
.navbar{
    list-style: none;
    display: flex;
justify-content: space-around;
    gap: 12px;
}
ul a:hover{
text-decoration: dashed underline;
color:black;
}

.nav-link{
    color: white;
    text-decoration: none;
}

/* section for heroo section */

.hero-section{
    width: 100%;
    height: 100vh;
    background-image: url('../../myindex/image.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    ;
}

.hero-section__wrapper{
    height: 100%;
    width: 100%;
    background-color: rgb(19 1 4 / 33%);
    padding:40px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

p{
    color: white;
}
.hero-section__wrapper h1{
    margin-bottom: 24px;
    color: white;
    font-family: "IBM Plex Serif", serif;
}

.hero-section__link{
    margin-top: 40px;
    color: black;
    background-color: white;
    padding: 8px 12px;
    border-radius: 4px;
    text-decoration: none;
}
.hero-section__link:hover {
    text-decoration: dashed underline;
    color: pink;
    background-color: black;
    }

    .quote{
        height: 1000px;
        width: 100%;
        display: flex;
        justify-content:center ;
        flex-direction: column;
        margin-bottom: 24px;
        color: white;
        font-family: "IBM Plex Serif", serif;
        gap: 20px;
        text-align: center;
    }
    .assignment-list{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 40px;
        padding:120px 80px;
    }
    .assignment-list-card{
        display: flex;
        flex-wrap: wrap;
        border: 1px solid red;
        border-radius: 8px;
        padding: 230px;
        width:45%;
        height: 200px;
        text-decoration: none;
    }
    footer {
        background-color: pink;
        padding-block: 40px;
        color: #fff ;
    }
    @media (max-width: 800px){
        footer{
            background-color: pink;

        }
    }
     
    
    @media (min-width:1200px) {
        footer{
            background-color: rgb(229, 63, 179);
        }
    }
.go-to-top {
    background-color: black;
    color: pink;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    right: 10px;
    bottom: 100px;
    
}
.go-to-top svg {
    fill: white;
}
.position-relative{
    position: relative;
    padding: 40px 300px;
    width:100%;
    height: 100 vh;

    background-color: white;
}
.position-absolute{
    position: absolute;
    left: 50%;
    top:0;
    background-color: black;
    height: 200px;
    width: 200px;

}
.w-100{
    width: 100%;
}
.position-relative{
    position: relative;
   padding: 40px 300px;
   width: 100%;
    height: 100vh;
   background-color: white;
}

.position-absolute{
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: black;
    height: 200px;
    width: 200px;
    transform: translate(-50%, -50%);
}
.w-100{
    width: 100%;
}
.playbutton {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    fill: white;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
